<div class="example_container">
  <img src="assets/3 civil war.jpg" alt="">
  <div class="example_content">
    <h3>That's a nice card</h3>
    <p>Here is some Bio Content</p>
    <button>Click Here</button>
  </div>
</div>


<style>
  .example_container {
    width: 400px;
    margin: auto;
    background: #eee;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 7px 15px #ccc;
  }

  .example_container img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  .example_content {
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
  }

  .example_content h3 {
    color: #777;
  }

  .example_content p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: ;
  }

  .example_content button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: coral;
    font-size: 15px;
    color: #fff;
    outline:none;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 5px 10px #ccc;
    transition: all .2s;
  }

  .example_content button:hover {
    background: orangered;
  }

</style>
