<style>


body {
  margin: 0;
}

  section {
    font-size: 30px;
    background-color: orangered;
    color: #fff;
    /*width: 70%;*/
    height: 100vh;
    width: 50vw;
  }

  h1 {
    /*% measures the size of the current element*/
    font-size: 200%;
    margin: 0;
  }

  section div {
    background-color: green;
    /*width: 50%;*/
  }

</style>





<section>
  <h1>Heading</h1>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, temporibus, repudiandae. Amet eius corporis corrupti atque necessitatibus fugiat consequatur hic libero, similique animi tenetur cupiditate inventore quis harum, porro quas!</p>
  </div>
</section>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab minus, saepe. Laudantium neque ea, fugit reiciendis libero hic enim provident odit in dolorem voluptates architecto consequuntur dolorum labore sint similique nulla repellendus. Debitis, facilis! Vitae aspernatur consectetur quibusdam, facilis ullam.</p>


