<style>
  ul {
    font-size: 40px;
    /*change from bullet point to whateves*/
    /*list-style-type: decimal;*/
    /*list-style-type: square;*/
    list-style-type: none;
    /*list style does same thing*/
    list-style: none;
  }


/*use with programming languages. then becomes quite powerful*/

  ul li:first-child {
    color: red;
  }

  ul li:last-child {
    color: blue;
  }

  ul li:nth-child(2) {
    color: yellow;
  }
</style>



<ul>
  <li>chickenc</li>
  <li>chickenc</li>
  <li>chickenc</li>
  <li>chickenc</li>
</ul>
