font-size starts at 16px

text-align has properties:
default is left
changes position of text
justify stretches text across the page

// Note: p tag is a block level element
change with display: inline
text-align does not work for inline elements
wrap it first in something else, then text-align it!


Font has two types:
Generic and Font:

serif - Times New Roman / Georgia
sans-serif - Helvetica / Verdana
cursive - Brush Script / Minstral
monospace - Courier New / Lucida Bright
fantasy - Not commonly used


default is Time New Roman
You can change font in google settings

